block footer
footer
    .container
        .footer-logo
            i.fa.fa-film.fa-2x(aria-hidden='true')
        .footer-studentRow.row
            .footer-grid-title.col-sm-6.col-md-4
                h4.footer-assignmentTitle
                    | WDA Assignment One
                h5.footer-assignmentSubtitle
                    | *(in alphabetical order)
            .footer-grid-studentList.col-xs-6.col-sm-3.col-md-3
                h5.footer-studentRoles
                    | Front-End / Design
                ul.footer-studentList
                    li Dennis Hou
                    li Jacqueline Shadforth
            .footer-grid-studentList.col-xs-6.col-sm-3.col-md-3
                h5.footer-studentRoles
                    | Back-End / Database
                ul.footer-studentList
                    li Chloe Smith
                    li Josephine Pramudia
                    li Joshua Pancho