extends layouts/_layout

block content
    .container
        .content
            h2 Movies Now Playing

            .flex-container
                each movie in movies
                    li= movie.title

                script(type="text/javascript" src="movieLoader.js")

        footer
            .row
                .col-md-6
                    h4 WDA Assignment Two
                    p Joshua Pancho
                    p Dennis Hou
                    p Jacqueline Shadforth
                    p Josephine Pramudia
                    p Chloe Smith
