extends layouts/_layout

block content
    h3 Movies yayfull-ness
    p Movie List in DB YOO
    each movie in movies
        li= movie.title
        
    
    script(type="text/javascript" src="movieLoader.js")
