/* Movie Page */

.moviePage-container{
    width: 50vw;
    margin: 0 auto;
}

/* Movie Background */
.moviePage-movieBackgroundGradient{
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    /*linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%);*/
    width: 100vw;
    height:30vh;
    left: 0;
    position: absolute;
    right:0;
    z-index: 1;
}


.moviePage-movieBackgroundImage{
    width: 100vw;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 25%;
    z-index: -1;
    filter: blur(50px);
    overflow: hidden;
}


/* Movie Poster */
.moviePage-moviePosterContainer {
    position: relative;
    width: 100px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -20vh;
    z-index: 500;
    transition: all 0.2s ease-in-out;
}

.moviePage-moviePosterContainer:hover{
    transform: scale(1.1);
    box-shadow: inset -1px 1px 0px rgba(255,255,255,0.3),
    inset 1px -1px 0px rgba(255,255,255,0.2),
    0px 0px 100px 20px rgba(0,0,0,0.2);
}

.moviePage-moviePoster{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 400;
}

.moviePage-moviePosterContainer::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    box-shadow: inset -0.5px 1px 0px rgba(255,255,255,0.2), inset 0.5px -1px 0px rgba(255,255,255,0.2);
}


/* Movie Title */
.moviePage-movieTitle{
    text-align: center;
    font-weight: 300;
    font-size: 3.5em;
    margin-bottom: 20px;
}


/* Movie Info */
.moviePage-movieDetailsContainer{
    display: flex;
    justify-content: center;
    -webkit-flex-flow: row wrap;
}

.moviePage-movieDetails-col{
    padding: 20px 20px;
}

.moviePage-movieDetails-title{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.1em;
}



/* Movie Rating */
.moviePage-userRatingContainer{
    margin: 0 auto;
    padding: 15px 0 8px;
}

.moviePage-movieDetails-movieUserRating{
    text-align: center;
}

span.movieRating.moviePage-userRating{
    display: block;
    box-sizing: border-box;
    line-height: 3em;
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
    color: #D8C39D;
    border: 3px solid #D8C39D;
    border-radius: 50%;
    width: 50px;
    height: 0;
    position: relative;
    padding-bottom: calc(50px - 0.5rem);
    margin: 10px auto;

}


.moviePage-movieDescription{
    width: 30vw;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}



/* Comments */
.moviePage-commentsSectionContainer{
    padding: 20px 0;
}

.commentsTitle{
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 22px;
}


.commentForm{
    background: #121212;
    padding: 20px 25px;
    border: 1px solid #323232;
}

.comment-inputBox{
    background: #121212;
    color: white;
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    border: 0;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.comment-inputBox:focus{
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.comment-inputBox:-moz-placeholder{
    color: white;
}

.comment-inputBox::-webkit-input-placeholder{
    color: white;
}
.comment-inputBox textarea{
    resize: vertical;
}


/* Submit Row */
.commentForm-submitRow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.commentForm-submitRow > *{
    margin-right: 20px;
}

/* Button */
.submitButton{
    padding: 8px 25px;
    color: black;
    font-weight: 400;
    background-color: #D8C39D;
    border: 1px solid #D8C39D;
    border-radius: 6px;
}

.commentForm-currUser{
    margin-bottom: 0;
    font-weight: 300;
    font-size: 1em;
}

/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .moviePage-container{
        width: 80vw;
        margin: 0 auto;
    }

    .moviePage-movieDescription{
        width: 80vw;
        margin: 0 auto;
    }

    .moviePage-movieDetails-col{
        text-align: center;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {

}

