/* Global styles */
/* Homepage */
*{
    font-family: 'Rubik', 'Helvetica', 'Arial', sans-serif;
    font-size: 13.5px;
    font-weight: 300;
    /* Enables anti-aliasing for smoother fonts */

}

body {/**/
    background-color: #000;
    color: #fff;

    /*Clearance for sticky nav*/
    padding-top: 52px;
}

.content{
    padding: 0 0 100px 0;
}

/*Typography*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', 'Helvetica', 'Arial', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

p{
    font-weight: 200;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}



.titleHeaderContainer{
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid #979797;
    justify-content: space-between;
    flex-flow: row wrap;
    flex-wrap: wrap;
}

.titleHeader{
    font-size: 2em;
}

.sectionHeader{
    align-self: center;
}


/* Navigation bar */
.mavericks-nav {
    display: block;
    background-color: #121212;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.7);
}

.navbar-title {
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-brand.navbar-title{
    color: white;
}

.mavericks-nav a, .navbar-default .navbar-nav > li > a {
    color: #A4A4A4;
    font-weight: 400;
}

.navbar-default .navbar-nav > li > a, .navbar-brand.navbar-title {
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.navbar-default .navbar-nav > li > a:hover {
    border-bottom: 2px solid #fff;
    color: white;
}

.navbar-default .navbar-brand:hover{
    color: #D8C39D;
    background: rgba(255,255,255,0.05);
}

.navbar-brand-Blog{
    color: #D8C39D;
    font-weight: 300;
    display: inline;
    font-size: inherit;
    margin-left: 10px;
}

/* Carousel */
#mavericks-carousel {
  margin-bottom: 20px;
}

#mavericks-carousel img {
  width: 100vw;
}

.slick-slider ul {
  padding-left: 47%;
  margin: -100px 0 50px 0;
}

.slick-dots li {
  display: block;
  float: left;
  margin: 0 5px;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  opacity: .85;
}

.slick-active {
  background-color: #aaaaaa !important;
}

.slick-dots li:hover {
  cursor: pointer;
}

.slick-dots li button {
  display: none;
}




/* Footer */
footer {
  background: #121212;
  min-height: 300px;
  padding: 50px 0;
  color: #fff;
}

.footer-logo{
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
  -webkit-text-stroke: 1px #121212;
}


.footer-grid-title{
  padding-bottom: 50px;
}

.footer-studentRow > div{
  padding-bottom: 25px;
}

h4.footer-assignmentTitle{
  margin-bottom: 0;
}

h5.footer-assignmentSubtitle{
  margin-top: 5px;
}

h5.footer-assignmentSubtitle{
  font-weight: 300;
}

h5.footer-studentRoles{
  color: #A4A4A4;
}

.footer-studentList{
  padding-left: 0;
  list-style-type: none;
  color: #A4A4A4;
}